.exportButton {
    float: right;
    background-color: #4eb5f1;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.exportButton:hover {
    background-color:#4095c6;
}
.mainPage {
    padding:0.3em 1.2em;
    margin:0.3em;
    width: 90%
}

.groupName {
    float: left;
    background-color: #4eb5f1;
    display:inline-block;
    padding:0.4em 1.4em;
    margin:4px;
    border-radius:2px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}